<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        Date:
        <select name="date">
        {% for i in choices%}
        <option value="{{i.date}}"> {{i.date}} </option>
        {% endfor %}
    </select>
    <input type="submit">
    </form>
    <form method="post">
        {% csrf_token%}
        <table border="1px" cellspacing="0" cellpadding="6px">
            <tr><th>Name</th><th>Preference</th></tr>
        {% for j in selected_date%}
            <tr><td>{{j.user_name}}</td></tr>
            <tr><td>
                {% if j.user_name in selected_date%}
                    yes
                {%endif%}
            </td></tr>
        {% endfor%}
        </table>
    </form>
</body>
</html>